body{
  background-color: rgb(94, 191, 108);
}
dialog{
    padding: 0px;
    border: 0px;
}
.inline{
    display: inline-block;
    cursor: pointer;
}

#inputModal::backdrop{
    background-color: rgba(0, 0, 0, 0.7);
}
.red{
    color: red;
}

.modalContent{
    width: 300px;
    height: 200px;
    padding: 20px;

    background-color: rgb(191, 236, 132);
}